<ul>
  <li *ngFor="let item of itemsList; let i = index">
    <div *ngIf="editMode(i)">
      <form (ngSubmit)="onSubmit(i)" #editForm="ngForm">
        <input [ngModel]="item.name" name="name" />
        <input [ngModel]="item.price" name="price" />
        <button type="submit">Save</button>
        <button type="button" (click)="onCancel()">Cancel</button>
      </form>
    </div>
    <div *ngIf="!editMode(i)">
      {{ item.name }} : {{ item.price }}
      <button (click)="onDelete(i)">Delete</button>
      <button (click)="onEdit(i)">Edit</button>
    </div>
  </li>
</ul>
<button (click)="onClearAll()">Clear All</button>
<h2 [ngStyle]="{ backgroundColor: sumBackgroundColor(), color: 'white' }">
  Sum:{{ sum }}
</h2>
